<div id="<%= dom_id post %>">
  <h2>
    <%= post.title %>
  </h2>
  <div>
    <%= post.body %>
  </div>
  <h5>
    Posted by <%= link_to post.user.name, user_path(post.user) %>
  </h5>
  <h6><%= pluralize(post.views, "View count") %></h6>
  <%# pluralize is just a grammer method rails has, that "View count" can be anything we want %>
</div>
