<p style="color: green"><%= notice %></p>
<div class="container">
  <h1>Posts</h1>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %> <%# this is basically render 'posts/_post' %>
      <p>
        <%= link_to "Show this post", post, class: 'btn btn-info' %>
      </p>
    <% end %>
  </div>
<%= link_to "Home", root_path, class:'btn btn-primary' %> |
<%= link_to "New post", new_post_path, class: 'btn btn-warning' %>
</div>
