<%# By default Rails know _ means its a helper(they call it partial in ruby) method so we don't have to specify this when rendering this file %>
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container-fluid">
    <%= link_to 'Rails 7 Blog 📒', root_path, class: 'navbar-brand'%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link active', aria_current: 'page'%>
        </li>
        <li class="nav-item">
          <%= link_to 'About', pages_about_path, class: 'nav-link active'%>
        </li>
        <li class="nav-item">
          <%= link_to 'Blog Posts', posts_path, class: 'nav-link active'%>
        </li>
      </ul>
      <ul class="navbar-nav">
        <%= render 'user/session_manager'%>
      </ul>
    </div>
  </div>
</nav>
